[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/vuljector/pugixml
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/vuljector/googletest
